* {
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: stretch;
  background: url(/3.jpeg);
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  color: #fff;
  margin-left: 3%;
  height: 45%;
}
.title{
  flex: 1 1 auto;
  font-size: 80%;
}
a{
  text-decoration: none;
  font-size: inherit;
  color: #fff;
  height: 100%;
  top: 30%;
  position: relative;
}
a:visited{
  color: #fff;
}
p#countdown {
  text-align: left;
  margin: 0px;
  flex: 1 1 auto;
}
p#countdown span{
  font-size: 45%;
}
#tas{
  display: block;
  position: absolute;
  bottom: -300px;
  height: 200px;
  width: 200px;
  background-image: url(2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: 50% 0%;
  transition: bottom 0.5s ease 0s;
}
#tas p{
  color: #000;
  font-size: 50%;
  margin-left: 234px;
  border: 1px solid #999;
  padding: 20px;
  width: 170px;
  border-radius: 20px 15px 20px 0px;
  background: #dfffdd;
  margin-top: -81px;
  transition: display 0.5s ease 0s;
}
